services:
  web:
    build:
      context: .
      dockerfile: src/PracticalWork.Library.Web/Dockerfile
    container_name: library_web
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__Postgres: "Host=postgres;Port=5433;Database=BookArchiveDb;Username=postgres;Password=myhome1861"
      Redis__Configuration: "redis:6379"
      Minio__Endpoint: "minio:9000"
      Minio__AccessKey: "minioadmin"
      Minio__SecretKey: "minioadmin"
      Minio__BucketName: "bookcovers"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      minio:
        condition: service_started

  postgres:
    image: postgres:15
    container_name: library_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: myhome1861
      POSTGRES_DB: BookArchiveDb
    ports:
      - "5433:5432" 
    volumes:
      - pgdata_library:/var/lib/postgresql/data
    healthcheck:  
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
      
  postgres-reports:
    image: postgres:15
    container_name: reports_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: myhome1861
      POSTGRES_DB: reports
    ports:
      - "5434:5432"
    volumes:
      - pgdata_reports:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7-alpine
    container_name: library_redis
    ports:
      - "6379:6379"
    healthcheck: 
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    container_name: library_minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    healthcheck: 
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
  rabbitmq:
    image: rabbitmq:4-management
    container_name: library-rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq


volumes:
  pgdata_library:
    driver: local
  pgdata_reports:
    driver: local
  minio_data:
    driver: local
  rabbitmq_data:
    driver: local
